<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Admin">


	<!-- 레코드 한건 가져오기 -->
	<select id="select" parameterType="Admin" resultType="Admin">
		select * from admin where user_id=#{user_id} and pass=#{pass}
	</select>
	
	
	
</mapper>