<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Paymethod">
	<select id="selectAll">
		select * from paymethod
	</select>
	
	<select id="select" parameterType="int" resultType="Paymethod">
		select * from paymethod where paymethod_id=#{paymethod_id}
	</select>
</mapper>